.Page {
    text-align: center;
  }
  
.gridContainer {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));;
    gap: 20px;
    min-height: 100vh;
    margin: 0 30px 0 30px;
    background-color: #ffffe6;
  }
  
  .gridContainer > div {
    background-color: #ffffff;
    margin: 100px 0 100px 0;
  }
  
  .item1 {
    grid-column: 1 / span 1;
    display: flex;
    align-items: center;
  }
  
  .item2 {
    grid-column: 2 / span 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .item3 {
    grid-column: 12 / span 1;
    display: flex;
    align-items: center;
  }

h1 {
  font-size: 45px;
  margin: 0;
  color: rgb(255, 179, 179);
  font-family: "Silkscreen";
}

.wrapper {
  display: flex;
  flex-flow:row wrap;
  height: 30%;
  margin: 20px 0px;
  padding: 20px;
  border-radius: 20px;
  border: 5px;
  border-color: pink;
  border-style: double;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 70%;
  margin: 10px;
  background-color: rgb(180, 180, 224);
}

.avatarContainer {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffe6;
}

.infoContainer {
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textContainer {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: paleturquoise;
}

.barContainer {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: peachpuff;
}

.barOuter {
  width: 200px;
  height: 10px;
  border: 6px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));;
  gap: 6px;
  border-style: solid;
  padding: 4px;
  border-color: antiquewhite;
}

.barInner1 {
  grid-column: 1 / span 1;
  background-color: antiquewhite;
}

.barInner2 {
  grid-column: 2 / span 1;
  background-color: antiquewhite;
}

.barInner3 {
  grid-column: 3 / span 1;
  background-color: antiquewhite;
}