.App {
  text-align: center;
  background-color: #ffffe6;
}

h1 {
  font-size: 45px;
  margin: 0;
  text-align: left;
  color: rgb(255, 179, 179);
  font-family: "Silkscreen";
}

h2 {
  font-size: 90px;
  margin: 10px 0 0 0;
  text-align: right;
  color: rgb(233, 114, 114);
  font-family: "Rammetto One";
}

p {
  margin: 0;
  font-size: 20px;
  color: rgb(255, 179, 179);
  font-family: "Silkscreen";
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
  }
  
  h2 {
    font-size: 70px;
  }
}