.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalCloseButton {
    position:absolute;
    top: 20px;
    right: 20px;
    background: none;
	color: inherit;
	border: none;
    cursor: pointer;
}

.modalHeader {
    text-align: left;
    font-size: 50px;
    color: white;
}

.modalContent {
    display: flex;
    flex-direction: column;
    margin: 40px 100px 50px 100px;
}

.modalContentBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modalImg {
    width: 250px;
    margin: 15px 25px 0 0;
    align-self: center;
}

.modalText {
    font-size: 24px;
    padding: 10px 0;
    color: white;
    font-family: "Courier Prime";
}